/* Sticky footer styles
-------------------------------------------------- */

/**/
@font-face {
	font-family: 'CaeciliaLTStd75Bold';
	src: url('/public/fonts/caecilialtstd-bold-webfont.eot');
	src: local('Caecilia LT Std'), local('CaeciliaLTStdBold'), url('/public/fonts/caecilialtstd-bold-webfont.woff') format('woff'), url('/public/fonts/caecilialtstd-bold-webfont.ttf') format('truetype'), url('/public/fonts/caecilialtstd-bold-webfont.svg#webfontL11A3T4Z') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'CaeciliaLTStd55Roman';
	src: url('/public/fonts/caecilialtstd-roman-webfont.eot');
	src: local('/public/Caecilia LT Std'), local('CaeciliaLTStdRoman'), url('/public/fonts/caecilialtstd-roman-webfont.woff') format('woff'), url('/public/fonts/caecilialtstd-roman-webfont.ttf') format('truetype'), url('/public/fonts/caecilialtstd-roman-webfont.svg#webfontCupQ2MTv') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}



div#text{
  overflow:auto;
  height: 8em;
}


.tagline {
    margin-top: 2px;
    font-size: 14px;
}

/* underline */
.tagline span {
	background: url(/public/images/underline.png) 0 2px no-repeat;
	height: 27px;
}

/****
 * page header
 */
.page-header {
  position: relative;
  border-bottom: 2px solid black;
  margin-bottom: 0;
  padding: 0;
}



.mstlink {
    position: absolute;
    bottom: 8px;
    right: 0;
	width: 77px;
	height: 55px;
}


/****
 * page main content
 */
.page-main {
    background-color: #f2f2f2;
}

/****
 * page footer
 */
.page-footer {
  padding-top: 8px;
  border-top: 2px solid black;
  height: 60px;
}


/*****
 * bootstrap tooltip overrides
 */
.tooltip.in {
    opacity: 1;
}

.tooltip-inner {
	border: 1px solid #e30b13;  /* @tooltip-arrow-color */
    border-radius: 0;
	-moz-box-shadow: 2px 2px 2px #d3d3d3;
	-webkit-box-shadow: 2px 2px 2px #d3d3d3;	
	box-shadow: 2px 2px 2px #d3d3d3;
}

/****
 * results
 */

.results-container {
    position: relative;
}

#cut {
	width: 36px;
	height: 28px;
	background: url("/public/images/tableIcons.png") 0 0 no-repeat;
	display: block;
    /*
	float: left;
	margin-left: 18px;
    */
}
#paste {
	width: 36px;
	height: 28px;
	background: url("/public/images/tableIcons.png") -45px 0px no-repeat;
	display: block;
    /*
	float: left;
	margin-left: 17px;
    */
}
#overlap {
	width: 42px;
	height: 28px;
	background: url("/public/images/tableIcons.png") -83px 0px no-repeat;
	display: block;
    /*
	float: left;
	margin-left: 15px;
    */
}

.data-lg {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 100%;

    margin: 0;
}

.caption {
	font-size: 0.75em;
	color: #404040;
	text-align: center;
	line-height: 100%;
    display: inline-block;
    vertical-align: top;
}

.vis-head-fudge span { display: inline-block; }
.vis-head-fudge span:first-child { width: 100px; }


.results-group {
    margin: 1em 0;
    width: 100%;
}

.results-group thead {
    border-bottom: 1px solid black;
}
.results-group tbody {
    background-color: #fff;
    border-bottom: 1px solid black;
}
/*.results-group { text-align: center; } */
.visualisationCell { width: 180px; }

.datacell { width: 5em;}

/****
 * share buttons
 */

.share-links {
    position: absolute;
    right: 0;
    top: 0;
}


.share-link {
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    display: inline-block;
    background-image: url("/public/images/sharebuttons.png");
 }

.share-link:hover {
}
.share-link:active {
    position: relative;
    top: 1px;
}

.share-link-facebook { background-position: -0px -0px; }
.share-link-twitter { background-position: -32px -0px; }
.share-link-googleplus { background-position: -64px -0px; }
.share-link-stumbleupon { background-position: -96px -0px; }



/****
 */
.oneliner {
    text-overflow: ellipsis;
/*    display: inline-block;
    vertical-align: top;
    */
    white-space: nowrap;
    overflow: hidden;
}

.oneliner:hover {
    white-space: normal;
}



/****
 * misc crap
 */

.area { margin: 2em 0; }


.area-textblock {
    max-width: 40em;
}

.area-extensionpromo {
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 1em;
    text-align: center;
    height: 100%;
}

.area-extensionpromo img {
}

