{{set . "Title" "Frequently Asked Questions"}}
{{set . "Description" "What is Churnalism.com? Churnalism.com is an independent, non-profit website to help the public distinguish between original journalism and 'churnalism'."}}
{{template "header.html" .}}
    <div class="area area-textblock">
    <h2>Frequently Asked Questions</h2>
    <dl>
        <h3>What is churnalism.com?</h3>
        <div>
            <p>Churnalism.com is an independent, non-profit website built by the <a href="http://mediastandardstrust.org">Media Standards Trust</a> (charity number <a href="http://www.charitycommission.gov.uk/search-for-a-charity/?txt=1113680">1113680</a>) to help the public distinguish between original journalism and &lsquo;churnalism&rsquo;&rsquo;.</p>
        </div>

        <h3>What is &lsquo;churnalism&rsquo;?</h3>
        <div>
            <p>&lsquo;Churnalism&rsquo; is a news article that is published as journalism, but is essentially a press release without much added. In his landmark book, <em><a href="http://www.flatearthnews.net/">Flat Earth News</a></em>, <a href="http://www.nickdavies.net/">Nick Davies</a> wrote how &lsquo;churnalism&rsquo; is produced by:</p>
            <blockquote>&ldquo;Journalists who are no longer gathering news but are reduced instead to passive processors of whatever material comes their way, churning out stories, whether real event or PR artifice, important or trivial, true or false&rdquo; (p.59).</blockquote>       
            <p>According to the <a href="http://www.cardiff.ac.uk/jomec/research/researchgroups/journalismstudies/fundedprojects/qualitypress.html">Cardiff University research</a> that informed Davies&rsquo; book, 54% of news articles have some form of PR in them. The word &lsquo;churnalism&rsquo; has been attributed to BBC journalist Waseem Zakir.</p>
            <p>Of course not all churnalism is bad. Some press releases are clearly in the public interest (medical breakthroughs, government announcements, school closures and so on). But even in these cases, it is better that people should know what press release the article is based on than for the source of the article to remain hidden.</p>
        </div>
        
        <h3>Why did you build churnalism.com?</h3>
        <div>
            <p>We built the site as a public resource &mdash; to raise awareness about churnalism, to help people identify churnalism, and to encourage original journalism.</p>
        </div>
    
        <h3>Where did the idea for churnalism.com come from?</h3>
        <div>
            <p>The idea for churnalism first emerged back in 2006 when <a href="https://wikipedia.org/wiki/Tom_Steinberg">Tom Steinberg</a>,
            <a href="https://wikipedia.org/wiki/Chris_Lightfoot">Chris Lightfoot</a>,
            <a href="https://wikipedia.org/wiki/Francis_Irving">Francis Irving</a> and <a href="http://martinjemoore.com/">Martin Moore</a>
            met for a sandwich on <a href="https://en.wikipedia.org/wiki/Parker%27s_Piece">Parkers Piece</a> in Cambridge.</p>
        </div>
    
        <h3>How does churnalism.com work?</h3>
        <div>
            <p>The indexes press releases (and some news articles). The work is handled by
            <a href="https://github.com/donovanhide/superfastmatch-go">Superfastmatch</a>, with the
            website itself just acting as a thin front end on top of that.
            </p>
        </div>
    
        <h3>What press releases are covered?</h3>
        <div>
            Currently, we're sourcing press releases from:
            <ul>
                <li>tesco</li>
                <li>asda</li>
                <li>waitrose</li>
                <li>marksandspencer</li>
                <li>sainsburys</li>
                <li>morrisons</li>
                <li>cooperative</li>
                <li>barclays</li>
                <li>virginmoney</li>
                <li>travelodge</li>
                <li>tate</li>
                <li>gov.uk-announce</li>
                <li>eurekalert.com</li>
                <li>uk.prweb.com</li>
                <li>prnewswire.co.uk</li>
                <li>policyexchange.org.uk</li>
                <li>migrationwatchuk.org</li>
                <li>taxpayersalliance.com</li>
                <li>greenpeace.org.uk</li>
                <li>shelter.org.uk</li>
                <li>greenparty.org.uk</li>
                <li>labour.org.uk</li>
                <li>libdems.org.uk</li>
                <li>illicitencounters.com</li>
                <li>bbc</li>
                <li>bskyb</li>
                <li>itv</li>
                <li>channel5</li>
                <li>channel4</li>
                <li>72point</li>
            </ul>
            We intend to increase our coverage of press release sources. If you know of a good source we're missing,
            <a href="/contact">contact us</a>! Or just <a href="https://github.com/bcampbell/ukpr">send us patches</a>.
        </div>
    
        <h3>What effect will churnalism.com have on journalism?</h3>
        <div>
            <p>Our hope is that, eventually, this website should become redundant, as news articles link to sources as a matter of course and provide comparisons of articles with press releases themselves.</p>
            <p>In the meantime churnalism.com ought to provide a useful and constructive (and perhaps slightly mischievous) public service.</p>
        </div>

        <h3>Who developed the site?</h3>
        <div>
           <p>The technology behind the site was developed by <a href="http://www.availableimagination.com/">Donovan Hide</a>, with some help from <a href="http://scumways.com/">Ben Campbell</a>. The site was conceived and developed by <a href="http://martinjemoore.com/">Martin Moore</a> and <a href="http://scumways.com/">Ben Campbell</a> with support from <a href="http://uk.linkedin.com/pub/gavin-freeguard/5/a36/1a2">Gavin Freeguard</a> and <a href="http://camillaschickova.com/">Camilla Schick</a>. <a href="http://unitedagents.co.uk/chris-atkins">Chris Atkins</a> helped to raise awareness about the site. The original site design was by <a href="http://www.double-sided.com/">Double Sided</a> (and subsequently butchered by Ben during a revamp :-).</p>
        </div>
        
        <h3>Who is the site run by and how is it funded?</h3>
        <div>
            <p>The site is run by the <a href="http://mediastandardstrust.org">Media Standards Trust</a> with funding from charitable foundations and donations. If you would like to support churnalism.com you can donate to the Media Standards Trust at <a href="http://www.justgiving.com/mediastandardstrust/Donate">Just Giving</a>.</p>
            <p>If you would like to discuss the site, or would like to offer suggestions as to how it could be improved, please contact us at <a href="mailto:team@churnalism.com">team@churnalism.com</a>.</p>
        </div>
    
        <h3>Acknowledgements</h3>
        <div>
           <p>Thanks to <a href="http://neil.fraser.name/">Neil Fraser</a> for algorithmic advice and inspiration, <a href="http://fallabs.com/mikio/">Mikio Hirabayashi</a> for advice, features and bug fixes, <a href="http://jackmottram.com">Jack Mottram</a> for help with testing and CSS and finally Pete at <a href="http://www.mythic-beasts.com/">Mythic Beasts</a> for advice and help with server configuration.</p>
        </div>
    </dl>
</div>
{{template "footer.html" .}}
