{{set . "Title" "Shared Churn"}}
{{set . "Description" "Churnalism.com is an independent, non-profit website to help the public distinguish between original journalism and 'churnalism'."}}
{{template "header.html" .}}
<div class="area area-textblock">
    <div class="alert alert-danger">
        Sorry, the page you're after is offline for now.
    </div>

    <div>
        <p>We've been revamping/rewriting churnalism.com, and unfortunately
        shared links from the old site aren't yet supported.
        </p>
        <p>
        We're firmly in the "<a href="http://www.w3.org/Provider/Style/URI.html">Cool URLs don't change</a>"
        camp, so we'd like to sort something out, but we still have to decide
        the best way to do it...
        </p>
    </div>
</div>
{{template "footer.html" .}}
